:root {
  --white: #fff;
  --background: #f3f4f6;
  --primary: #c3c3c3;
  --clear-background: #f1a9a5;
  --clear-color: #ff3b30;
  --operator: #ff9500;
  --equal: #34c759;
  /* drak-mode colors */
  --black: #252525;
  --background-dark: #303031;
  --primary-dark: #505050;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--background);
  font-family: Arial, sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 320px;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(19, 19, 19, 0.215);
}

.display {
  width: 100%;
  height: 70px;
  border: none;
  background: var(--background);
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: right;
  padding: 0 15px;
  font-size: 2rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  height: 60px;
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

.buttons button:hover {
  transform: scale(1.05);
}

.zero {
  grid-column: span 2;
}

.clear {
  background: var(--clear-background);
  color: var(--clear-color);
}

input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 2px solid var(--primary);
  border-radius: 9px;
  outline: none;
}
.dark {
  background-color: var(--background-dark);
}
.add,
.subtract,
.multiply,
.divide {
  background: var(--operator);
}

.equal {
  background: var(--equal);
}

.dark .clear {
  color: var(--black);
}
.dark .calculator {
  background: var(--calculator-background);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.549);
}
.dark #display {
  background: var(--black);
  color: var(--white);
}
.theme-toggle {
  border: none;
  background: none;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}
